<div class="sidebar">
    <ul class="main-menu">
        <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
    <div class="list">
        <h2>
            <%- type === 'api' ? 'API' : (type.charAt(0).toUpperCase() + type.slice(1)) %>
        </h2>
        <ul class="menu-root">
            <% type !== 'api' && site.pages.find({type: type}).sort('order').each(function (p) { %>
                <% var fileName = p.path.replace(/^.+?\/([\w-]+)\.html/, '$1') %>
                <% if (type === 'moy') { %>
                    <% if (fileName === 'kero-begin') { %>
                      <li><h3>Kero进阶</h3></li>
                    <% } %>
                    <% if (fileName === 'grid_index') { %>
                      <li><h3>表格</h3></li>
                    <% } %>
                    <% if (fileName === 'sparrow') { %>
                      <li><h3>工具库</h3></li>
                    <% } %>
                    <% if (fileName === 'cascader') { %>
                      <li><h3>控件模型</h3></li>
                    <% } %>
                    <% if (fileName === 'IE') { %>
                      <li><h3>前端解决方案</h3></li>
                    <% } %>
                    <% if (fileName === 'kero-fetch') { %>
                      <li><h3>前端请求</h3></li>
                    <% } %>
                <% } %>
                <li>
                    <a href="<%- url_for(p.path) %>" class="sidebar-link<%- page.title === p.title ? ' current' : '' %><%- p.is_new ? ' new' : '' %>"><%- p.title %></a>
                </li>
            <% }) %>
        </ul>
    </div>
</div>
